@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container-fluid mt-4">
        <div class="jumbotron">
            <h1><i class="fa fa-camera-retro" aria-hidden="true"></i> Welcome to my GitHub Repository search site</h1>
            <p>Enter in the above search box the repository you are looking for.</p>
            <p>You can bookmark any repository you like.</p>
            @*<p><a class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-info" aria-hidden="true"></i> Learn more</a></p>*@
        </div>
    </div>
</div>
